<spinner name="spinner" img-src="{{vm.spinner}}" class="overlay"></spinner>
<div class="container">
    <div class="row">
        <div ng-init="vm.initComplaints()">
            <div class="row">
                <h1>Complaints</h1>
                <p>
                    <a class="btn btn-default" ui-sref="shell.addcomplaints"><i class="fa fa-plus"></i> Add</a>
                </p>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th ng-click="predicate='complaint'; reverse=!reverse">Complaint</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr ng-repeat="complaints in vm._complaintsList | pagination: vm.totalItems | limitTo: vm.pageSize | orderBy:predicate:reverse">
                            <td>{{complaints.complaint}}</td>
                            <td class="action-column">
                                <!--<a ui-sref="shell.listcomplaintdetail({id:complaint.id})" title="View Complaint"><i class="fa fa-eye"></i></a>-->                                |
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div paginate datalist="vm._complaintsList" on-pagination-updated="vm.onPaginationUpdated(directiveData)"></div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.message !== undefined && vm.message !== ''">
        <div class="alert alert-success">
            <strong>{{vm.message}}</strong>
        </div>
    </div>
    <div class="row" ng-show="vm.error !== undefined && vm.error !== ''">
        <div class="alert alert-danger">
            <strong>{{vm.error}}</strong>
        </div>
    </div>
</div>