

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>

<h2>Submit your complaint here!</h2>

<div class="container">  
  <form action="">
    <div class="row">
      <div class="col-md-12">
          <label for="" class="">Submit your complaints below:</label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit">Save complaint</button>
      </div>
    </div>   
  </form>
</div>
