<div class="container">
    <div class="row">
        <h1>Add Complaint</h1>
        <form class="form-horizontal customDim" novalidate name="addComplaintForm" ng-submit="vm.addComplaint(addComplaintForm, vm._complaint)">
            <div class="form-group row" ng-class="{ 'has-error': addComplaintForm.Name.$touched && addComplaintForm.Name.$invalid }">
                <label class="col-xs-3 col-form-label">Name</label>
                <div class="col-xs-9">
                    <input class="form-control" type="text" placeholder="Name" name="Name" ng-model="vm._complaint.name" ng-minlength="3" ng-maxlength="50" required />
                    <div class="help-block" ng-messages="addComplaintForm.Name.$error" ng-show="addComplaintForm.Name.$touched">
                        <div ng-messages-include="name-validation-messages.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error': addComplaintForm.EmailAddress.$touched && addComplaintForm.EmailAddress.$invalid }">
                <label class="col-xs-3 col-form-label">Email Address</label>
                <div class="col-xs-9">
                    <input class="form-control" type="email" placeholder="Email Address" name="EmailAddress" ng-model="vm._complaint.emailAddress" ng-minlength="5" ng-maxlength="50" required />
                    <div class="help-block" ng-messages="addComplaintForm.EmailAddress.$error" ng-show="addComplaintForm.EmailAddress.$touched">
                        <div ng-messages-include="email-validation-messages.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error': addComplaintForm.Address.$touched && addComplaintForm.Address.$invalid }">
                <label class="col-xs-3 col-form-label">Address</label>
                <div class="col-xs-9">
                    <textarea name="Address" title="Address" placeholder="Address" class="form-control input-md"
                              ng-model="vm._complaint.address" rows="5" ng-minlength="10" required></textarea>
                    <div class="help-block" ng-messages="addComplaintForm.Address.$error" ng-show="addComplaintForm.Address.$touched">
                        <div ng-messages-include="name-validation-messages.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-class="{ 'has-error': addComplaintForm.Complaint.$touched && addComplaintForm.Complaint.$invalid }">
                <label class="col-xs-3 col-form-label">Complaint</label>
                <div class="col-xs-9">
                    <textarea name="Complaint" title="Complaint" placeholder="Complaint" class="form-control input-md"
                              ng-model="vm._complaint.complaint" rows="5" ng-minlength="10" required></textarea>
                    <div class="help-block" ng-messages="addComplaintForm.Complaint.$error" ng-show="addComplaintForm.Complaint.$touched">
                        <div ng-messages-include="name-validation-messages.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-3 col-form-label">Take Snapshot</label>
                <div class="col-xs-4">
                    <webcam on-stream="vm.onStream(stream)"
                            on-access-denied="vm.onError(err)"
                            on-streaming="vm.onSuccess()"
                            channel="vm.channel">
                    </webcam>
                    <button class="btn btn-large btn-primary" ng-click="vm.makeSnapshot()">Take snapshot!</button>
                    <canvas id="snapshot" class="well"></canvas>
                    <!--<button ng-click="vm.downloadSnapshot(vm.snapshotData)" ng-disabled="!vm.snapshotData" class="btn btn-large btn-primary">Download ^^</button>
                    <button class="btn btn-small" ng-click="showBase64 = !showBase64">Show as base64 encoded URL</button>
                    <textarea class="snapshot-data" ng-model="vm.snapshotData" ng-show="showBase64"></textarea>-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-3 col-form-label">Select Location in Map</label>
                <div class="col-xs-9">
                    <ng-map center="{{vm.latlng}}" on-click="vm.getpos($event)" default-style="true" center="current-location" zoom="5">
                        <marker position="{{vm.latlng}}" on-dragend="vm.getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true">
                        </marker>
                    </ng-map>
                    {{vm.latlng.latitude}} - {{vm.latlng.longitude}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-9">
                    <input class="btn btn-default" type="reset" value="Reset" />
                    <input class="btn btn-default" type="submit" value="Save" ng-disabled="addComplaintForm.$invalid" />
                </div>
            </div>
        </form>
    </div>
</div>